
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* <<<<<<< DanielH-landingPage-Jumbotron-DanielH

======= */

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 40px;
    margin-right: 10px;

  }

  .enlace {
    text-decoration: none;

  }

/* -------- */


#footer {
  position: relative;
  z-index: 0;
}

#footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    red, blue, deeppink, blue, red, blue, deeppink, blue
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}

@keyframes glowing{
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}

}


  



  .hover-link {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .hover-link:hover {
    color: blue;
  }


  
  



